body{
    font-family: 'Lato', sans-serif;
}
*{
    outline: none !important;
}
.container-fluid{
    overflow-x: hidden;
}
.text-color-1{
    color: #336666;
}
.text-color-2{
    color: #3399cc;
}
.text-color-3{
    color: #333333;
}
.text-color-4{
    color: #99cccc
}
.margin-bottom-45{
    margin-bottom: 45px;
}
.navbar-brand{
    margin-top: -7px;
}
.navbar-nav{
    margin: 0 auto;
}
.navbar{
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
}
.nav-item{
    margin: 0 25px;
    font-weight: 600;
    padding-bottom: 10px;
}
.nav-item.active{
    border-bottom: 7px solid #1BADBD;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    font-weight: bold;
    color: #1BADBD;
}
.navbar-toggler{
    outline: none !important;
}
.card {
    margin: 0 10px;
    background-color: #208A96;
}
.white-color {
    color: #fff;
}
.section-1{
    background-color: #89C261;
    text-align: center;
    min-height: 600px;
}
.section-2,.how-it-works-section{
    background-color:#F3FCFC;
}
.snapshot-details{
    background-color:#1BADBD;
    width: 100%;
    padding: 15px;
}
.snapshot-details .col{
    text-align: center;
    /* max-height: 80px; */
    min-width: 120px;
    margin-bottom: 10px;
    position: relative;
}
.snapshot-details p{
    color: #045861;
    padding-bottom: 10px;
}
.snapshot-details p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.seperator{
    background: url(../images/seperator.png);
    width: 1px;
    height: 70px;
    position: absolute;
    top: 15px;
    right: 0px;
}
.how-it-works{
    color:#456265;    
    max-width: 1366px;
    margin: 65px auto;
}
.how-it-works .col{
}
.how-it-works .image-wrapper{

}
.teal-color{
    color: #207873
}
.green-color{
    color: #366117;
}
.light-blue-color{
    color:#00B0C0;
}
.table td, .table th {
    border:0px;
    padding: 0px;
}
.btn{
    box-shadow: none !important;
    outline: none !important;
    min-width: 145px;
    padding: .65rem;
    text-transform: capitalize;    
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}
.btn-primary, .show>.btn-primary.dropdown-toggle {
    color: #36B3C2;
    background-color: #fff;
    border-color: #fff;
} 
.btn-primary:hover,.btn-primary.active, .btn-primary:active{
    color: #36B3C2 !important;
    background-color: #dde7e8 !important;
    border-color: #dde7e8 !important; 
}
.btn-secondary{
    color: #fff;
    background-color: #89C261;
    border-color: #89C261;
} 
.btn-secondary:hover,.btn-secondary.active, .btn-secondary:active{
    color: #fff !important;
    background-color: #528032 !important;
    border-color: #528032 !important;
}
.btn-info{
    color: #fff;
    background-color: #1BADBD;
    border-color: #1BADBD;
}
.btn-info:hover,.btn-info.active, .btn-info:active{
    color: #fff !important;
    background-color: #0893a2 !important;
    border-color: #0893a2 !important;
}
.hero-bg{
    background: url(../images/hero.png) no-repeat;
    background-size: cover;
}
.about-hero-bg{
    background: url(../images/about-us-hero.png) no-repeat;
    background-size: cover;
}
.calculation-wrapper table{
    width: 450px;
    margin: 1rem auto;
}
.calculation-wrapper .days small{
    font-size: 60%;
    color: #fff !important;
}
.section-3{
    background-color:#1BADBD;
}
.testimonials{
    margin: 65px 0px;
}
.slider-wrapper{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 75px;
}
.testimonials .card{
    text-align: left;
    color: #fff;
}
.testimonials .card .card-subtitle{
    color: #045861 !important;
    font-size: 20px;
}
.slick-arrows{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 62px;
    height: 62px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none !important;
    z-index: 10;
}
.slick-next-arrow{
    right: -25px;
    background: url(../images/right_scroll.png) no-repeat;
}
.slick-prev-arrow{
    left: -25px;
    background: url(../images/left_scroll.png) no-repeat;
}
.footer{
    background-color : #314549;
    min-height: 130px;
}
.footer-wrapper{
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}
.footer-1{
    color: #36B3C2;
    padding-left: 70px;
    padding-top: 30px;
}
.footer-2{
    padding-left: 70px;
    margin-top: 10px;
}
.footer-1 a{
    margin-right: 15px;
}
.how-it-works .image-desc{
    position: relative;
    top:35px;
    font-size: 22px;
}
.banner-container .banner{
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 42px;
    position: relative;
    top: 160px;
    left: 80px;
}
.banner-container .banner div{
    position: absolute;
    padding: 0 10px;
}
.banner-1{
    background: #89C261;
}
.banner-2{
    top:63px;
    background: #1BADBD;
}
.banner-3{
    top:126px;
    background: #89C261;
}
.banner-4{
    top:189px;
    background: #1BADBD;
}
.rangeslider__fill{
    background: #46F2CF
}
.rangeslider--horizontal .rangeslider__handle{
    background: transparent;
    border: 0px;
    box-shadow: none !important;
    width: 31px;
    height: 29px;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle{
    background: transparent;
}
.rangeslider__handle:after{
    background: url(../images/slider_head.png);
    width: 31px;
    height: 29px;
    left: -5px;
}
.ranger-wrapper{
    margin: 30px 0px;
    position: relative;
}
.ranger-wrapper img{
    position: absolute;
    top: -7px;
    cursor: pointer;
    z-index: 1;
}
.rangeslider--horizontal{
    height: 10px;
}
.ranger-wrapper .minus{
    left: -35px;
}
.ranger-wrapper .plus{
    right: -35px;
}
.testimonials .card{
    border: 0px !important;
}
.testimonials .card-title{
    color: #1B6566;
}
.testimonials .card-location{
    color: #29A7A3;
}
.testimonials .card-body{
    padding: 0px;
}
.testimonials .card-body .card-main, .card-body .card-text{
    padding: 1.25rem;
}
.testimonials .card-main{
    background: #22E2E9;
}
.testimonials .card-main-alternate{
    background: #42F5C8;
}
.social-container{
    margin-top: 20px;    
    padding-left: 25px;
}
.social-container .img-fluid{
    margin: 3px;
}
.video-section{
    background: #314549
}
.how-it-works-section-1{
    background: #fff;
}
.h6-heading{
    font-size: 22px;
    font-weight: 600;
}
.how-it-works-section-2 .left-box{
    background: #88C260;
}
.how-it-works-section-2 .right-box{
    background: #1CACBC;
}
.how-it-works-section-2 ul li{
    padding: 10px 0;
}
.how-it-works-video-section{
    padding: 30px 100px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.how-it-works-video-section .right-box{
    margin-top: 60px;
}
.about-hero-bg{
    min-height: 643px;
}
.about-banner-text{
    position: absolute;
    width: 590px;
    top: 240px;
    right: 220px;
    font-size: 20px;
}
.about-us-box{
    background: #1CACBC;
    padding: 0px;
}
.about-us-box > div{
    padding: 20px;
}
.about-box-heading{
    height: 110px;
    border-bottom: 1px solid #19A2B2; 
}
.about-us-box-1{
    background: #89C261;
}
.about-us-box-1 .about-box-heading{
    border-bottom: 1px solid #69B16C; 
}
.partners-arrow{
    position: absolute;
    width: 15%;
    top: 50px;
    right: -20px;
}
.partners-arrow img{
    position: absolute;
    right: -5px;
    top: 10px;
    z-index: 10;
}
.partners-arrow hr {
    border:none;
    border-top:1px dashed #7A8E97;
    color:#fff;
    background-color:#fff;
    height:1px;
    position: absolute;
    width: 100%;
  }
  .m20{
      margin: 20px;
  }
  .p-section-1{
      background: #1CACBC
  }
  .about-box-text{
      font-size: 17px;
  }
  .p-section-1 li{
    margin: 10px 0;
  }
  .p-section-2{
      background: #89C261;
      padding: 50px 0;
  }
  .contat-us-section .left-box{
      background: #1BADBD;
      min-height: 440px;
  }
  .contat-us-section .banner{
    font-size: 58px;
    top: 40px;
    left: 0px;
    margin-left: 15%;
  }
  .contat-us-section .banner-1{
    background: #fff;
    color:#1BADBD;
  }
  .contat-us-section .banner-2{
    background: #89C261;
    color:#fff;
    top: 87px;
  }
  .google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.contat-us-section .phone-support{
    border-bottom: 1px solid #239EAB;
}
.email-support a{
    color: #fff !important;
}

.contat-us-section .support {
    position: relative;
    margin-top: 270px;
    margin-left: 15%;
    width: 80%;
}
.contat-us-section .email-support{
    margin-top: 15px;
}
@media only screen and (max-width: 1000px) {
    .navbar-toggler{
        position: absolute;
        left: 0px;
        margin: 3px;
    }
    .navbar {
        text-align: center;
        display: block;
    }
    .about-hero-bg{
        min-height: 350px;
    }
    .contat-us-section .banner{
        font-size: 40px;
        top:40px !important;
    }
    .contat-us-section .banner-2{
        top:60px !important;
    }
    .banner-container .banner{
        margin-left: 20px;
        top: 80px;
    }
    .contat-us-section .support{
        margin-top: 180px;
        width: 85%;
        margin-left: 20px;
    }
    .contat-us-section .email-support{
        margin-top: 15px;
    }
    .about-box-heading{
        height: auto; 
    }
    .navbar-brand{
        margin: 0px;
    }
    .section-1{
        min-height: auto;
    }
    .hero-bg{
        display: none;
    }
    .calculation-wrapper{
        padding: 20px;
    }
    .calculation-wrapper table{
        width: 282px;
    }
    .slider-wrapper{
        padding: 0 15px;
    }
    .testimonials .card-body{
        padding: 0px;
    }
    .testimonials .card-body .card-main, .card-body .card-text{
        padding: 2.25rem;
    }
    .footer-1,.footer-2{
        padding-left: 35px;
        padding-right: 35px;
    }
    .footer-apps{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .nav-item{
        margin: 0 25px;
        font-weight: 600;
        padding-bottom: 0px;
        width: 140px !important;
        margin: 0 auto;
    }
    .nav-item.active{
        border-bottom: 2px solid #1BADBD;
    }
    .ranger-wrapper{
        width: 90%;
        margin: 30px auto;
    }
    .how-it-works-section-2 .left-box, .how-it-works-section-2 .right-box{
        padding: 30px 20px;
    }
    .how-it-works-section-1 .left-box, .how-it-works-section-1 .right-box{
        padding: 30px 20px;
    }
    .how-it-works-video-section{
        padding: 30px;
    }
    .about-banner-text{
        background: #2A3A3C;
        padding: 50px 30px;
        position: inherit;
        width: 100%;
        font-size: inherit;
    }
    .partners-arrow-optional{
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    
    .slick-list{
        margin: 0 60px;
    }
    .footer-wrapper{
        padding: 0 75px;
    }
    .footer-apps{
        position: absolute;
        /* margin-top: -80px; */
        /* margin-right: 50px; */
        right: 75px;
        top: 30px;
    }
    .calculation-wrapper{
        padding: 20px;
        width: 500px;
        margin: 0 auto;
    }
    .how-it-works .row{
        margin-bottom: 50px;
    }
    .how-it-works-section-1{
        padding: 40px;
    }
    .how-it-works-section-1 .left-box, .how-it-works-section-1 .right-box{
        padding: 30px 100px;
    }
    .how-it-works-section-1 .left-box{
        border-right: 1px solid #ccc;
    }
    .how-it-works-section-2 .left-box, .how-it-works-section-2 .right-box{
        padding: 30px 100px;
    }
    .about-us-section-1 .container-fluid > .row{
        padding: 0 100px;
    }
    .partners-section .container-fluid > .row{
        padding: 0 100px;
    }
    .about-box-heading{
        height: 130px;
    }
}
@media only screen and (min-width: 1400px) {
    .about-us-section-1 .container-fluid > .row{
        padding: 0 200px;
    }
    .partners-section .container-fluid > .row{
        padding: 0 200px;
    }
    .about-box-heading {
        height: 110px;
    }
}